[Unit]
Description=nat-client

[Service]
Restart=always
LimitNOFILE=65536
PIDFile=/tmp/nat-client.pid
Environment=NAT_HOST=xx NAT_PORT=8787 NAT_MESSAGE=ubuntu NAT_KEEPALIVE=60
ExecStart=/home/admin/nat-client
ExecReload=/bin/kill -s HUP $MAINPID% 

[Install]
WantedBy=multi-user.target
